/* Reset CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Stile dell'header */
header {
    background-color: var(--deep-blush); /* Cambiato lo sfondo in deep-blush */
    text-align: center;
    padding: 20px 0;
}

header img {
    max-width: 100%;
    height: auto;
}

/* Stile del menu orizzontale */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--jon); /* Colore del testo cambiato in jon */
    font-weight: bold;
}
